<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ExtraAssignment 7/src/com/psl/q1/SumCalculator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.psl.q1.SumCalculator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExtraAssignment 7"/>
</launchConfiguration>
